@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

@font-face {
    font-family: cubic;
    src: url(../fonts/cubic/cubic.ttf);
    font-weight: bold;
}

@font-face {
    font-family: blessed;
    src: url(../fonts/blessed/blessed.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Reitam;
    src: url(../fonts/reitam/ReitamRegular.otf);
    font-weight: bold;
}

.autor{
    font-family: 'blessed';
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #646060;
    color: #282828;
}

hr {
    max-width: 80px;
    border-width: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

hr.light {
    border-color: #fff;
}

a {
    color: darkslategrey;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: justify;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Reitam' , cursive ;
    text-transform: none;
    text-shadow: 2px 2px 4px #007c33;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-info{
    font-family: 'Dancing Script',cursive;
    text-transform: none;
    color: orangered;
}

.text-primary {
    color: #f1a341;
    font-size: 47px;
}

.text-color{
    color: #f1a341;
    /*text-shadow: 1px 1px 1px rgba(60,60,60,0.9);*/
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    width: 88%;
    margin-left: 6%;
    /*height: 50PX;*/
}

/*.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #007c33;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}*/


.navbar-toggle {
  background-color: #007c33;
  border: 2px solid yellow;
  margin-right: 20px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #007c33;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #007c33 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}

.top{
    margin-top: 0px;
}

.container{
    padding: 0 !important;
    width: 88% !important;
    margin-left: 6% !important;
}

@media only screen and (max-width:480px){
    .navbar {
        border-color: #181818;
        background-color: #181818;
        width: 100%;
        margin-left: 0;
    }
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}
@media(min-width:768px) {
    .navbar {
        border-color: #181818;
        background-color: #181818;
        width: 100%;
        margin-left: 0;
        
    }


    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        /*padding: 19px;*/
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #007c33;
        /*padding: 20px;*/
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #007c33;
    }
}



header {
    position: relative;
    /*min-height: auto;*/
    text-align: center;
    color: #fff;
    width: 100%;
    height: 450px;
    background-color: #c9c9c9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: 30px solid #646060;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}


footer {
    background-color:#ccc2c2;
}



.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}


.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    /*opacity: 0.7;*/
    background-color: #646060;
    color: black;
}

.btn.btn-primary:hover {
    /*opacity: 0.7;*/
    color: black;
    background-color: #007c33;
    border: 1px solid #007c33;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

.roundNav{
    border-radius: 40px;
}

#background-carousel{
	position:absolute;
	width:100%;
	height:100%;
	/*z-index:-1;*/
}
.carousel,
.carousel-inner {
	width:100%;
    height:100%;
    /*padding: 7px;
	/*z-index:0;
	overflow:hidden;*/
}
.item {
	width:100%;
    height:100%;
	background-position:center center;
	/*background-size:cover;
	z-index:0;*/
}

.blur{/*
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);*/
}

.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    /*padding: 5px;*/
    margin-top: 3px;
    margin-left:20px;
    width: 60%;
  }

#eventCarousel{
  background-color: transparent;
}

#myCarouse2 {
  background-color:transparent;
  height: 200px;

}

.carousel-inner.onebyone-carosel { margin: auto; width: 90%; height: 100%; }
.onebyone-carosel .active.left { left: -25.00%; }
.onebyone-carosel .active.right { left: 25.00%; }
.onebyone-carosel .next { left: 25.00%; }
.onebyone-carosel .prev { left: -25.00%; }

label.error {
  color: red;
  padding:1px 20px 1px 20px;
}


#map {
    height: 300px;
    width: 100%;
    border-radius: 50px;
}

.classBody{
    background-color: #fff;
    box-shadow: 0px 0px 10px 15px  #111;
}

.pull-donw{
    position: absolute;
    left: 0;
    bottom: 0;
}

